{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% for fattura in fatture %}
        <fattura>
            <h2><a href="{{ path('fattura', { 'id': fattura.id }) }}">{{ fattura.noteFattura }}</a></h2>
            <h2>{{ fattura.numFattura }}</h2>
            <p>{{ fattura.dataFattura }}</p>
            <p>{{ fattura.dataPagamento }}</p>
            <p>{{ fattura.imponibile }}</p>
        </fattura>
    {% endfor %}
{% endblock %}